
@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&display=swap');


body{
    font-family: 'Mountains of Christmas', serif;
    background-color: #726255;

}

    
    
	



header ul{
    display: flex;
	justify-content: flex-end;
    list-style: none;
}
.sec1{
    background-image: url(img/fond.jpg) ;
    height: 100vh;

    
    
}
.homeP{
    background-color: rgba(0, 0, 0, 0.593);
    margin: 20%;
    margin-top: 0.5%;

    color: #EEBA30;
    
    
    
    
}
.homeP h2{
    -webkit-text-stroke: 1px #AE0001;
    font-size: 250%;
    
}

 .sec1 h1{
    text-transform: uppercase;
     font-size: 700%;
    
    color: #EEBA30;
    ;
    -webkit-text-stroke: 4px #AE0001;
    text-align: center;
    
}
.sec1 h2{
  
}
.sec1 p{
    text-align: center;
    
    font-size: 18px;
    color: #fefdfc;
    
}

h3{
    text-align: center;
}
h2{
    text-align: center;
}

.descrip{
    width: 25vh;
    height: 20vh;
    border-radius: 10%;
    box-shadow: 10px 5px 10px;
    
}
.produit{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: baseline;
	align-content: stretch;
}
.para{
background-color: rgba(240, 248, 255, 0);


}
.sorcier{
    width: 10vh;
    height: 10vh;
    border-radius: 40%;
}
.potion{
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: space-around;

}
.res{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
   
}
.photodePro{
    
width: 20vh;
height: 20vh;
border-radius: 40%;
}
.logo{
    height: 4vh;
    height: 4vh;
    
}

.footer{
    display: flex;
    background-color: #372E29;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: flex-end;
	align-content: stretch;
}
.footer p{
    font-size: 3vh;
    background-color: rgba(240, 248, 255, 0);
}